<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
 http://www.springframework.org/schema/oxm
 http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd">
 
 
 <bean id="rest" class="rest.MainPost"/>

 <oxm:jaxb2-marshaller id="jaxbMarshaller">
        <oxm:class-to-be-bound name="rest.reply.PaypalFailure"/>
        <oxm:class-to-be-bound name="rest.reply.PayResponse"/>
    </oxm:jaxb2-marshaller>

    <bean id="jax" class="rest.reply.OXMapperImpl">
        <property name="marshaller" ref="jaxbMarshaller"/>
        <property name="unmarshaller" ref="jaxbMarshaller"/>
    </bean>
 
 <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter"/>
                <bean class="rest.reply.PaypalReplyHttpConvertor"/>
            </list>
        </property>
    </bean>
    
    
    
	<context:annotation-config />
</beans>